body {
	color:#f0f0f0;
	background-color:#000000;
	margin:0;
}

.ghost-button {
    color: #00330f;
}

#container {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	}

a img {
	border:none;
}

.grid-container {
  display: grid;
  grid-template-columns:auto auto auto auto auto auto auto auto;
  /*background-color: #300505*/
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.jspan:hover {
   background-color:#FF0000
}
